<div>
    <h1>오리에 대하여</h1>
    <hr>
    <h3>개요</h3>
    <p>기러기목 오리과의 새들 중에서 고니류나 기러기류에 해당하지 않는 것을 오리라고 한다. <br>
        그러니까 고니류와 기러기류가 오리과 내에서 일부 계통적으로 한 무리를 이루는 특정한 부류에 속한다면 오리는 오리과에서 이들을 제외한 나머지 전부를 말하는 것이다.</p>
    <hr>
    <h3>야생오리</h3>
    <p>야생오리는 대부분이 겨울철새로 한국에 도래한다. <br>
        오리하면 먹는 것만 떠올리기 쉬우나, 호사비오리를 비롯한 일부 오리 종은 멸종위기종이다. <br>
        점무늬오리와 흰등오리는 한국에는 서식하지 않는다.</p>
    <hr>
</div>