<nav class="navbar bg-success navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <!-- 검색 관련 메뉴들 -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/book">도서검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/local">지역검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blog">블로그검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/posts">게시판</a>
          </li>
        </ul>

        <!-- 로그인 관련 메뉴들 -->
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item" id="login">
            <a class="nav-link active" aria-current="page" href="/users/login">로그인</a>
          </li>
          <li class="nav-item" id="uid" style="display:none;">
            <a class="nav-link active" aria-current="page" href="/users/mypage">마이페이지</a>
          </li>
          <li class="nav-item" id="logout" style="display:none;">
            <a class="nav-link active" aria-current="page" href="#">로그아웃</a>
          </li>
        </ul>


      </div>
    </div>
  </nav>

  <script>
    //로그인 여부에 따라 로그인/로그아웃/마이페이지 출력여부 결정
    const uid=sessionStorage.getItem('uid');
    if(uid){
      $("#login").hide();
      $("#logout").show();
      $("#uid").show();
      $("#uid a").html(uid);
    }else{
      $("#login").show();
      $("#logout").hide();
      $("#uid").hide();
    }

    //로그아웃을 클릭했을때
    $("#logout").on("click", "a", function(e){
      e.preventDefault();
      if(confirm("로그아웃 하시겠습니까?")){ //confirm : yes or no 팝업상자
        sessionStorage.clear(); //세션에 저장된 정보를 지움
        location.href="/"; //로그아웃후 홈으로 이동
      }
    });
  </script>